{{- range .Values.persistence }}
{{- if .enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
 name: {{ .name }}
spec:
 accessModes:
  - {{ .accessMode }}
 storageClassName: "{{ .storageClassName }}"
 resources:
  requests:
   storage: {{ .size }}
---
{{- end }}
{{- end }}
